.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: 2px solid black;
  width: 80%;
  margin: 0 auto;
}
.nav > a > img {
  width: 100px;
}
.nav-lists > ul {
  display: flex;
  justify-items: center;
  list-style-type: none;
  margin-right: 5px;
}
.nav-lists > ul > li {
  padding-left: 10px;
}
